<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/styles.css" />
    <link rel="stylesheet" href="/stylesheets/formCreate.css" />
    <title>Document</title>
  </head>

  <body>
    <%- include('../partials/navbar.ejs') %>

    <div class="container-product-create">
        <form action="/products" method="POST" enctype="multipart/form-data">
            <div class="container-create">
                <div class="card">
                    <div class="card-header">
                        <h3 class="">Nuevo producto</h3>
                    </div>
                    <div class="card-body">
                        <input
                         id="titulo"
                         name="titulo"
                         type="text"
                         class="input-nombre"
                         placeholder="Nombre del producto"
                         required
                         />
                         <input
                         id="precio"
                         name="precio"
                         type="text"
                         class="input-precio"
                         placeholder="precio del producto"
                         required
                         />
                         <div class="box-descripcion">     
                             <input
                             id="descripcionCorta"
                             name="descripcionCorta"
                             type="text"
                             class="input-descripcion"
                             placeholder="Descripción del producto"
                             required
                             />
                         </div>
                         <label for="imagenProducto">Imagen del producto</label>
                         <input type="file" name="imagenProducto" id="imagenProducto" />
                      
                    </div>
                    <input class="button" type="submit" value="GUARDAR" />
                </div>
            </div>
        
        </form>
      </div>
    </div>
  </body>
</html>
