<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <title>Document</title>
</head>
<body>

    <header>
        <div class="container-header">
        <div class="info">
            <p>ventas@playgroundjugueteria.com | +56 9999 5555</p>
        </div>
        <!--Boton de Ingresar y Resgistro-->
        <div class="button-header">
            <button type="button" name="ingresar" class="btn-ingresar">Ingresar</button>
            <button type="button" name="ingresar" class="btn-registrarse">Regístrarse</button>
        </div>
        </div>
    </header>


    <main class="container-main">
        <div class="logo">
            <img src="images/Design/logo.png"  alt="Logo Playground Jugueteria"></img>
        </div>
       
    </main>


    <footer>
        <div class="footer-box">
            <div class="contacto">
            <h3>CONTACTENOS</h3>
                <ul>
                    <li>ventas@playgroundjugueteria.com</li>
                    <li>+56 9999 5555</li>
                </ul>
            </div>
            <div class="informacion">
                <h3>INFORMACIÓN</h3>
                    <ul>
                        <li><a href="#">Devolución</a></li>
                        <li><a href="#">Despacho</a></li>
                        <li><a href="#">Ventas mayoristas</a></li>
                    </ul>
            </div>
            <div class="pagos">
                <h3>FORMAS DE PAGO</h3>
                    <ul>
                        <li><i class="fab fa-cc-visa"></i></li>
                        <li><i class="fab fa-cc-mastercard"></i></li>
                        <li><i class="fab fa-cc-paypal"></i></li>
                    </ul>
            </div>
            <div>
                <div class="mapa-box"></div>
            </div>
        </div>
    </footer>
    
    
</body>
</html>