<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="css/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Delius+Unicase&display=swap" rel="stylesheet">

    <title>Formulario ingreso</title>
</head>
<body>
    <header>
        <div class="container-header">
        <div class="info">
            <p>ventas@playgroundjugueteria.com | +56 9999 5555</p>
        </div>
        <!--Boton de Ingresar y Resgistro-->
        <div class="button-header">
            <div class="button-header">
                <a href="/">
                    <button type="button" name="ingresar" class="btn-ingresar">Ingresar</button>
                </a>
                <a href="/register">
                    <button type="button" name="registro" class="btn-registrarse">Regístrarse</button>
                </a>
            </div>
        </div>
        </div>
    </header>


    <main class="container-main">
            <a href="/">
                <img src="images/Design/logo.png"  alt="Logo Playground Jugueteria"></img>
            </a>  
    </main>

<div class="ingreso"> 
    
    <div class="Marco">
        <p class="eslogan">Iniciar sesión</p>
    <img class="imagen_login" src="images/pexels-victoria-borodinova-1620675.jpg" alt=""> 
    <p class="eslogan">¡La vida es para jugar!</p>
    </div>
    
    <form action="">

        <img class="usuario" src="images/usuario.png">
<div class="formulario">
    
    <label>E-mail</label>
    <input class="text" type="email" name="correo" required>
    <label>Contraseña</label>
    <input class="text" type="password" name="contraseña" required>
    <a class="olvido" href="#">¿Olvido su contraseña?</a>
    <input class="boton" type="submit" value="Login">
    <div class="linea">
    <a href="#">¿No tienes cuenta?</a>
    <a class="crea" href="#">Crea una cuenta</a>
    </div>
</div>


    </form>
</div>

<div  class="slider">
<ul>

<li>
    <img class="images_slider" src="/images/fisher-price-png.png" alt="">
    <img class="images_slider" src="/images/Lego-logo.jpg" alt="">
    <img class="images_slider" src="/images/play-doh-715x400.jpg" alt="">
</li>


<li>
    <img class="images_slider" src="/images/Hot-Wheels-Logo.png" alt="">
    <img class="images_slider" src="/images/Hasbro-Logo.png" alt="">
    <img class="images_slider" src="/images/2560px-Toys__R__Us_logo.svg.png" alt="">
</li>


<li>
    <img class="images_slider" src="/images/Mattel-Logo-1969.png" alt="">
    <img class="images_slider" src="/images/barbie.png" alt="">
    <img class="images_slider" src="/images/nenuco-715x400.jpg" alt="">
</li>


<li>
    <img class="images_slider" src="/images/Bizak_logo.svg.png" alt="">
    <img class="images_slider" src="/images/mark.png" alt="">
    <img class="images_slider" src="/images/a.png" alt="">
</li>

</ul>

</div>




     <!--Footer-->
     <footer id="contacto">
        <div class="footer-box">
            <div class="contacto">
            <h3>CONTACTENOS</h3>
                <ul>
                    <li>ventas@playgroundjugueteria.com</li>
                    <li>+56 9999 5555</li>
                </ul>
            </div>
            <div class="informacion">
                <h3>INFORMACIÓN</h3>
                    <ul>
                        <li><a href="#">Devolución</a></li>
                        <li><a href="#">Despacho</a></li>
                        <li><a href="#">Ventas mayoristas</a></li>
                    </ul>
            </div>
            <div class="pagos">
                <h3>FORMAS DE PAGO</h3>
                    <ul>
                        <li><i class="fab fa-cc-visa"></i></li>
                        <li><i class="fab fa-cc-mastercard"></i></li>
                        <li><i class="fab fa-cc-paypal"></i></li>
                    </ul>
            </div>
            <div>
                <div class="mapa-box">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d255858.18448484907!2d-74.11976343055036!3d40.697663748391925!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e1!3m2!1ses!2scl!4v1643680349834!5m2!1ses!2scl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>
        </div>
    </footer>
    
</body>
</html>