/** INICIO Detalle de Producto**/

*{
    padding: 0;
}

.container-detalle img{
    display:flex;
    width: 400px;
    margin-left: 20%;
    margin-bottom: 10%;
    align-content: center;        
}

.cont-detalle-imagen{
    width: 500px;
    margin-left: 55%;
    margin-top: -35%;
    align-content: flex-start;
}

.cont-detalle-imagen h2{
    margin-left: -1%;
}

.cont-precio{
    font-size: 20px;
    display: flex;
    width: 100px;
    height: 30px;
    align-content: center;
    margin-left: -1%;
}

label {
    display:flex;
    font: 1rem 'Delius Unicase', cursive;
}

input,
label {
    margin: .4rem 0;
    margin-left: -1%;
}

.cont-boton-agregar{
    background-color: #5AAA95;
    font: 'Delius Unicase', cursive;
}

.cont-nav-detalle{
    margin-left: 53%;
    margin-top: -1%;
    display:flex;
    justify-content: flex-start;
    align-content: flex-start;
}

.cont-nav-detalle ul>li{
    width: 100px;
    height: 20px;
    list-style: none;
    text-decoration: none;
    display:inline-block;
    flex-direction:row;
    justify-content:flex-start;
    align-content: center;
    margin-left: 3px;
}

.cont-descripcion{
    width: 450px;
    height: 100px;
    display: flex;
    margin-left: 54%;
    margin-top: -2%;
    margin-bottom: 10%;
    align-content: center;

}