*{
    margin: 10px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Delius Unicase';
    background-color: #ffffff;
    
}
/***INICIO Barra cabecera********/
.container-header{
    background-color:#CDABED;
    width: auto;
    height: 40px;
    display: flex;
    justify-content: space-between
}
.container-header .info {
    color: white;
    font-size: 12px; 
    margin: 0px 30px;
    padding: 5px;
    justify-content: flex-start;
}
.container-header
.button-header {
    display: inline-flex;
    margin-top: -5px;
}
.btn-ingresar,
.btn-registrarse {
   
    color: white;
    font-family: 'Delius Unicase';
    font-size: 12px;
    width: 120px;
    height: 30px;
    border: none;
    border-radius: 5px;
    text-align: center;
}
.btn-ingresar {
    
    color: black;
    border: solid rgb(232, 231, 231);
}
/***FIN Barra cabecera********/

/***INICIO Logo, buscador y carrito********/
.container-main {
    display: flex; 
    justify-content: space-between;
}
.logo {
    margin-top: 10px;
    margin-left: 100px;
}
.container-carrito {
  display: flex; 
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 400px;
}
.container-main .buscar-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;  
}
.container-main .buscador-box {
    width: 30rem;
    height: 2rem;
    border-radius: 5px;
    border: solid 1px #CDABED;
    text-align: center;
}
.container-main #lupa {
    width: 2rem;
    height: 2rem;
    color: #CDABED;
    border: solid 1px #CDABED;
    border-radius: 5px;
    font-size:20px;
}
.container-carrito #icono-carrito {
    display: flex;
    font-size: 25px; 
    color: #CDABED;
    margin-top: 17px; 
}
.carro {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.carro .box-carrito {
    border: solid 0.5px #CDABED;
    border-radius: 10px;
    background-color: rgb(240, 239, 239);
    width: 50px;
    height: 30px;
    margin-top: 0px;
}

/***FIN Logo, buscador y carrito********/

/***INICIO Menu********/
.main-navbar {
    display:flex;
    justify-content: flex-start;
    margin: 10px;
}
.main-navbar a{
    text-decoration:  none;
    color: #222222;
    display: inline-block;
    padding: 2px 0;
    font-size: 13px;
}
.main-navbar ul {
    display:flex;
}
.main-navbar li {
    margin: 0px 5px;
    margin-left: 30px;
    list-style: none;
}
.main-navbar li>a:hover {
   color: blue;
   background-color:#eaeaea; 

}
/***FIN Menu********/

/***INICIO Slide********/
.slide-container {
    width: 100%;
    height: 400px;
    border-radius: 10px;
}
/***FIN Slide********/



/***CARRITO******/
body{
    font-family: 'Roboto', sans-serif;
    
}
.titulo_carrito{
    font-size:bold;
}
.Carrito{
        
    text-decoration: none;
    list-style: none;
    font-family: 'roboto', sans-serif;
}
.TitulosCarrito{
    display:flex;
    justify-content:column;
    justify-content: space-around;
}
.carrito-box {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    height: 410px;
    margin-top: 40px;
    color: black;
    text-decoration: none;
    list-style: none;
    font-family: 'roboto', sans-serif;
    
}
.TitulosCarrito{
    display:flex;
    justify-content:space-around;
    
}
.Titulo_cantidad{
margin-right: 0px;
margin-left: 60px;
}
.Titulo_descripcion{
    margin-left: 200px;
}
.Titulo_total{
    margin-right:340px;
}
.Imagen{
   
}

.hombre_araña{
    width:70px;
    
}
.barbie{
    width: 100px;
}
.Cantidad{
    flex-direction: column;
    text-decoration: none;
    list-style: none;
    color:black;
    
}
.Descripción{
    flex-direction: column;
    text-decoration: none;
    list-style: none;
    color:black;
    
    justify-content:space-between;
    font-weight: bold;
}

.Descripción_articulo1{
    display:flex;
    
    height:100px;
    justify-self: center;
}
.Descripción_articulo2{
    display:flex;
    height:100px;
    
}
.Descripción_articulo3{
    display:flex;
    height:100px;
    
}
.boton1{
    height:100px;
}
.boton2{
    height:100px;
}
.boton3{
    height:100px;
}
.precio1{
    height:100px;
    
}
.precio2{
    height:100px;
}
.precio3{
    height:100px;
}
.Total {
    text-decoration: none;
    color:black;
    list-style: none;
    
    width: 16%;
    font-weight: bold;
}
.Botones_quitar{
    
    display:flex;
    width:10%;
}

.Quitar {
    background-color:red;
    border-radius: 5px;
    color:white;
    
    width: 100px;
    height: 41px;
    border-radius: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    text-decoration: none;
    list-style: none;

}
.boton_quitar1{
    height: 100px;
}
.boton_quitar2{
    height: 100px;
}
.boton_quitar3{
    height: 100px;
}

.Sub_total{
    display:flex;    
    
    justify-content:flex-end;
    
}

.detalle_subtotal{
    display:flex;
    flex-direction:column;
    justify-content: center;
   
    justify-self: center;
    align-items: center;
    height: 30%;
    width: 30%;
}
ol,ul{
    list-style: none;
}

.btn{
    border-radius: 20px;
    
}
.boton_actualizar{
    display:flex;
    justify-content: center;
    margin-left: 100px;
    
}
.Actualizar{
    background-color:black;
    color:white;
    border-radius: 20px;
    width:150px;
    height: 40px;
    
    
}
#cantidad{
    width: 70px;
    height: 30px;
    border-radius:20px;
}
#mas.btn{
    width: 20px;
    height: 20px;
    background-color:grey;
}
#menos.btn{
    width: 20px;
    height: 20px;
    background-color:grey;
}
.Comprar{
    background-color:#5AAA95;
    color:white;
    border-radius: 20px;
    width:150px;
    height:50px;
    
}


/***INICIO productos Destacados********/
.destacados {
    display: flex;
    align-items: center;
}
.destacados .destacados-box1 {
    background-color: #e1e1e1;
    width:50%;
    height: 200px;
    border-radius: 10px;
    
}
.destacados .destacados-box2 {
    background-color: #e1e1e1;
    width:50%;
    height: 200px;
    margin: auto;
    border-radius: 0px;
}

.slide-container h1{
    text-align: center;
}
.info-destacados h3{
    text-align: center;
    margin-top: 20px;
}
/***FIN productos Destacados********/

/***INICIO nuestras marcas********/
.nuestras-marcas-box {
    width: 100%;
    height: 180px;
    background-color: #e1e1e1;
}


/***INICIO Footer********/
.footer-box {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    height: 300px;
    background-color: #CDABED;
    margin-top: 40px;
}
.footer-box h3 {
    text-align: start;
    margin: 20px;
    margin-left: 20px;
}
.footer-box .contacto ul>li{
    flex-direction: column;
    text-decoration: none;
    list-style: none;
    color: white;
}
.footer-box .informacion ul>li{
    flex-direction: column;
    text-decoration: none;
    list-style: none;
    color: white;
}
.footer-box .informacion a {
    text-decoration: none;
    color: white;
}
.footer-box .informacion li>a:hover {
    color: black;
    background-color: #ffffff;
}
.footer-box .pagos ul>li{
    flex-direction: row;
    justify-content:space-around;
    text-decoration: none;
    list-style: none;
    color: white;
}
.footer-box .pagos i{
    display: flex;
    font-size: 32px;
}
.footer-box .mapa-box {
    width: 360px;
    height:250px;
    border: solid 1px #393939;
}
.footer-box .mapa-box iframe {
    width: 360px;
    height:250px;
    margin: 0;
}
/***FIN Footer********/