
/** INICIO Detalle de Producto**/
.container-detail-products {
    display: flex;
    justify-content:center;
    align-items:center;
    height: 100vh;
    background-color:rgb(233, 233, 233);
}
.titulo {
    display: flex;
    justify-content: center;
    background-color:rgb(233, 233, 233);
}
.titulo h1 {
    margin-top: 30px;
}
.container-detalle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 80%;
    margin-top: -500px; 
    border: 1px solid rgb(221, 221, 221);
    border-radius: 5px;
}

.container-detalle .imagen {
    width: 500px;
    height: auto;
    margin-top: 0px;
    margin: 20px;
    background-color:white;
    border-radius: 8px
}
.container-detalle .imagenes {
    width: 400px;
    height: 250px;
    object-fit: contain;
}
.detalle {
    width: 60%;
    height: 40%;
    font-size: 20px;
    margin-top: 0px;

}
.container-detalle input {
    width: 10%;
    height: 20px;
    color: #2a2d43;  
}
.descripcion-box {
    display: flex;
    margin: 10px 0px 0px 0px;
}
.descripcion-box h4 {
    margin: 0px 5px;
}
.precio-box {
    display: inline-flex;
    margin-top: 10px;
}
.precio-box h3 {
    margin: 0px 5px;
}
.marca-box {
   display: flex;
   margin:  10px 0px 0px 0px;
}
.marca-box p {
    margin: 0px 5px;
}
.categoria-box {
    display: flex;
    margin-top:  10px;
}
.categoria-box h3 {
    margin: 0px 5px;
}
.btn-action-product {
    display: flex;

}
.btn-action-product .editar{
	font-weight: bold;
	line-height: 19px;
	background: #5850eb;
	border: none;
	padding: 15px 25px;
	border-radius: 6px;
	color: white;
	width: auto;
    height:50px;
	margin-top: 24px;
	cursor: pointer;
}
.btn-action-product .editar:hover {
	background: #2c24cf;
}
.btn-action-product .editar:focus {
	background: #3c32f1;
}
.btn-action-product .eliminar{
	font-weight: bold;
	line-height: 19px;
	background: #ac0505;
	border: none;
	padding: 15px 25px;
	border-radius: 6px;
	color: white;
	width: auto;
	margin-top: 24px;
	cursor: pointer;
}
.btn-action-product .eliminar:hover {
	background: #880404;
}
.btn-action-product .eliminar:focus {
	background: #630101;
}