<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('partials/head.ejs') %>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <script defer src="javascripts/slide.js"></script>

    <title>Playground-Jugueteria</title>
</head>

<body>
    <!--Cabecera del sitio-->
   
    <%- include('partials/header.ejs') %>


    <!--Logo, buscador y carrito de compras-->
    <main class="container-main">
        
            <a href="/">
                <img src="images/Design/logo.png"  alt="Logo Playground Jugueteria"></img>
            </a>
       
        <div class="buscar-wrapper">
            <input class="buscador-box" type="search" text="Search" placeholder="Buscar producto">
            <button type="button" class="fas fa-search" id="lupa"></button>
        </div>
        <div class="container-carrito">
            <div class="carro">
                <a href="/productCart">
                    <i class="fas fa-shopping-cart" id="icono-carrito">
                        <div class="box-carrito"></div>
                    </i>
                </a>
            </div>
        </div>
    </main>
    <!--Menú-->
    <nav class="main-navbar">
        
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#marcas">Marcas</a></li>
            <li><a href="#">Edades</a></li>
            <li><a href="#contacto">Contacto</a></li>
        </ul>
    </nav>



    <!--Slide seccion-->
   
    <div id="window">
        <div id="slide-container">
            <div class="slides">
          
    <!-- First image --> 
                <img class="slide" src="images/barbie-slide1.jpeg"> 
            </div>
        
    <!-- Second image --> 
            <div class="slides">
                <img class="slide" src="images/spiderman-slide2.jpeg"> 
            </div>
        
     <!-- Third image --> 
        <div class="slides">
                <img class="slide" src="images/frozen-slide3.jpeg"> 
            </div>
            <a id="previous" class="arrow-left">&#10094</a>
            <a id="next" class="arrow">&#10095</a>
            <div id="text-bar">
                <p id="place"></p>
            </div>
        </div>
        <div id="dotsContainer"></div>
    </div>
    




    <div class="info-destacados">
        <h3>
            PRODUCTOS DESTACADOS
        </h3>
    </div>
    <!--Productos Destacados-->
    <section class="destacados">
        <div class="destacados-box1">
            <img src="images/destacado-frozen.jpeg" alt="Imagen frozen">
            <img src="images/destacado-toyStory.jpeg" alt="Imagen toyStory">
            <img src="images/destacado-spiderman.jpeg" alt="Imagen spiderman">
            <img src="images/destacado-superman.jpeg" alt="Imagen superman">
            <img src="images/destacado-starwars.jpeg" alt="Imagen star">
            <a href="/productDetail">
                <img src="images/muneca.jpg" alt="Imagen mariobros">
            </a>
            
        </div>
        <div class="destacados-box2">
            
        </div>
    </section>

    <!--Nuestras Marcas-->
    <section id="marcas">
        <h3>
            NUESTRAS MARCAS
        </h3>
       

        <%- include('partials/slider_dinamico.ejs') %>

    </section>

    <!--Footer-->

    <%- include('partials/footer.ejs') %>
</body>
</html>