<div class="container-destacados">
  <h3 class="">DESTACADOS</h3>
</div>
<div class="arrow">
  <i class="fas fa-chevron-double-down"></i>
</div>

<div class="container-box">
  <div class="box card-1">
    <div class="icons-stars">
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
    </div>
    <div class="container">
      <div class="card">
        <button href="#" class="btn-off">25% off</button>
      </div>
    </div>
  </div>
</div>
