<div class="container-destacados">
  <h3 class="">DESTACADOS</h3>
</div>
<div class="arrow">
  <i class="fas fa-chevron-double-down"></i>
</div>

<div class="container-box-principal">
  <div class="box card-1">
    <div class="box-stars">
      <div class="icons-stars">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
      </div>
    </div>
    <div class="box-oferta">
      <p>
        <a href="" class="btn-off">25%</a>
      </p>
    </div>

    <div class="box-img">
      <img
        src="images/Products/destacado-toystory.jpeg"
        alt="imagen destacado-toystory"
        class="img1"
      />
    </div>

    <div class="box-text">
      <p class="">Destacado toystory 12 años</p>
    </div>
    <div class="box-text">
      <h3 class="">Antes $ 20,99</h3>
    </div>
    <div class="box-text">
      <h2 class="">$ 14,99</h2>
    </div>
    <div class="box-button">
      <p>
        <a href="#" class="btn-carrito"
          ><i class="fas fa-shopping-cart"></i>Añadir</a
        >
      </p>
    </div>
  </div>

  <div class="box card-1">
    <div class="box-stars">
      <div class="icons-stars">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
      </div>
    </div>
    <div class="box-oferta">
      <p>
        <a href="" class="btn-off">15%</a>
      </p>
    </div>

    <div class="box-img">
      <img src="images/Products/destacado-starwars.jpeg" alt="imagen spiderman " class="img1" />
    </div>

    <div class="box-text">
      <p class="">stars wars Titan Hero power FX</p>
    </div>
    <div class="box-text">
      <h3 class="">Antes $ 30,99</h3>
    </div>
    <div class="box-text">
      <h2 class="">$ 23,99</h2>
    </div>
    <div class="box-button">
      <p>
        <a href="#" class="btn-carrito"
          ><i class="fas fa-shopping-cart"></i>Añadir</a
        >
      </p>
    </div>
  </div>

  <div class="box card-1">
    <div class="box-stars">
      <div class="icons-stars">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
      </div>
    </div>
    <div class="box-oferta">
      <p>
        <a href="" class="btn-off">30%</a>
      </p>
    </div>

    <div class="box-img">
      <img src="images/Products/destacado-frozen.jpeg" alt="imagen lego duplo" class="img1" />
    </div>

    <div class="box-text">
      <p class="">Lego duplo Frozen 2 años +</p>
    </div>
    <div class="box-text">
      <h3 class="">Antes $ 60,99</h3>
    </div>
    <div class="box-text">
      <h2 class="">$ 49,99</h2>
    </div>
    <div class="box-button">
      <p>
        <a href="#" class="btn-carrito"
          ><i class="fas fa-shopping-cart"></i>Añadir</a
        >
      </p>
    </div>
  </div>
</div>
