<div class="container-edades">
  <h3 class="">EDADES</h3>
</div>

<div class="container-card">
  <div class="card-age card-1">
    <div class="imagen-card-edad">
      <img src="/icons/bebe.png" alt="bebe-vector" />
    </div>
    <div class="card-div">
      <span>0 - 3 meses</span>
    </div>
  </div>
  <div class="card-age card-1">
    <div class="imagen-card-edad">
      <img src="/icons/bebe2.png" alt="bebe-vector" />
    </div>
    <div class="card-div">
      <span>4 - 8 meses</span>
    </div>
  </div>
  <div class="card-age card-1">
    <div class="imagen-card-edad">
      <img src="/icons/bebe3.png" alt="bebe-vector" />
    </div>
    <div class="card-div">
      <span>1 a単o</span>
    </div>
  </div>
</div>

<div class="container-card">
  <div class="card-age card-1">
    <div class="imagen-card-edad">
      <img src="/icons/bebe4.png" alt="bebe-vector" />
    </div>
    <div class="card-div">
      <span>2 - 3 a単os</span>
    </div>
  </div>
  <div class="card-age card-1">
    <div class="imagen-card-edad">
      <img src="/icons/bebe5.png" alt="bebe-vector" />
    </div>
    <div class="card-div">
      <span>4 - 6 a単os</span>
    </div>
  </div>
  <div class="card-age card-1">
    <div class="imagen-card-edad">
      <img src="/icons/bebe6.png" alt="bebe-vector" />
    </div>
    <div class="card-div">
      <span>7 - 10 a単os</span>
    </div>
  </div>
</div>
