<footer id="contacto">
    <div class="footer-box">
        <div class="contacto">
        <h3>CONTACTENOS</h3>
            <ul>
                <li>ventas@playgroundjugueteria.com</li>
                <li>+56 9999 5555</li>
            </ul>
        </div>
        <div class="informacion">
            <h3>INFORMACIÓN</h3>
                <ul>
                    <li><a href="#">Devolución</a></li>
                    <li><a href="#">Despacho</a></li>
                    <li><a href="#">Ventas mayoristas</a></li>
                </ul>
        </div>
        <div class="pagos">
            <h3>FORMAS DE PAGO</h3>
                <ul>
                    <li><i class="fab fa-cc-visa"></i></li>
                    <li><i class="fab fa-cc-mastercard"></i></li>
                    <li><i class="fab fa-cc-paypal"></i></li>
                </ul>
        </div>
        <div>
            <div class="mapa-box">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d255858.18448484907!2d-74.11976343055036!3d40.697663748391925!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e1!3m2!1ses!2scl!4v1643680349834!5m2!1ses!2scl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
    </div>
</footer>