<div class="box-footer">
  <div class="card-info-footer">
    <div class="box-informacion1">
      <p class="">ventas@playgroundjugueteria.com</p>
      <div class="wsapp-icon">
        <h2 class="">+56 9999 5555</h2>
        <i class="fab fa-whatsapp"></i>
      </div>
      <p class="">New york 5ta avenida #11945</p>
      <p class="">www.playground.com</p>
    </div>
  </div>

  <div class="card-info-footer">
    <div class="box-informacion2">
      <p class="">Devolución</p>
      <p class="">Despacho</p>
      <p class="">Retiro en tienda</p>
      <p class="">Garantía y cambios</p>
      <p class="">Venta mayorista</p>
    </div>
  </div>
  <div class="card-info-footer">
    <div class="box-informacion3">
      <div class="tipo-pago">
        <p class=""><i class="fab fa-cc-paypal"></i></p>
        <p class=""><i class="fab fa-cc-visa"></i></p>
        <p class=""><i class="fab fa-cc-amazon-pay"></i></p>
        <p class=""><i class="fab fa-bitcoin"></i></p>
      </div>
    </div>
  </div>
</div>
<div class="creditos">
  <p class="">Sitio web diseñado y construido por el grupo 10</p>
</div>
