<header>
    <div class="container-header">
    <div class="info">
        <p>ventas@playgroundjugueteria.com | +56 9999 5555</p>
    </div>
    <!--Boton de Ingresar y Resgistro-->
    <div class="button-header">
        <a href="/login">
            <button type="button" name="ingresar" class="btn-ingresar">Ingresar</button>
        </a>
        <a href="/register">
            <button type="button" name="registro" class="btn-registrarse">Regístrarse</button>
        </a>
    </div>
    </div>
</header>