<!-- Iconos section -->

<div class="container-section">
  <div class="card">
    <div class="card-container">
      <button href="#" class="btn-uno">
        <i class="fas fa-user-friends"></i>
      </button>
      <p class="">Atención al cliente</p>
    </div>
  </div>

  <div class="barra-separacion">
    <div class="vertical"></div>
  </div>

  <div class="card">
    <div class="card-container">
      <button href="#" class="btn-dos">
        <i class="fas fa-store"></i>
      </button>
      <p class="">Retiro en tienda</p>
    </div>
  </div>

  <div class="barra-separacion">
    <div class="vertical"></div>
  </div>

  <div class="card">
    <div class="card-container">
      <button href="#" class="btn-tres">
        <i class="fas fa-truck"></i>
      </button>
      <p class="">Despacho gratis</p>
    </div>
  </div>

  <div class="barra-separacion">
    <div class="vertical"></div>
  </div>

  <div class="card">
    <div class="card-container">
      <button href="#" class="btn-cuatro">
        <i class="fas fa-exchange-alt"></i>
      </button>
      <p class="">Garantía y cambios</p>
    </div>
  </div>
</div>
