<header>
  <nav class="container-navbar">
    <div class="header1">
      <!-- Logo -->
      <a href="/" class="">
        <img src="/icons/logo.png" class="logo" />
      </a>
      <!-- Search -->
      <input class="search__input" type="text" placeholder="Buscar" />
      <!-- Carrito icon -->
      <div class="carrito-header">
        <a href="#" class=""></a>
        <img src="/icons/cart.png" alt="" class="" />
        <span
          id="cart_menu_num"
          data-action="cart-can"
          class="badge rounded-circle"
          >5</span
        >
      </div>
      <!-- Login and Register -->
      <div class="button-header">
        <p><a href="/login" class="btn-ingresar">Ingresar</a></p>
        <p>
          <button href="/register" class="btn-registrar">Registrarse</button>
        </p>
      </div>
    </div>
    <!-- Button hamburguer -->
    <a href="#" class="hamburguer-button">
      <i class="fas fa-bars"></i>
    </a>
    <!-- Menu -->
    <div class="menu">
      <ul class="">
        <li class=""><button class="btn-menu">Home</button></li>
        <li class=""><button class="btn-menu">Marcas</button></li>
        <li class=""><button class="btn-menu">Edades</button></li>
        <li class=""><button class="btn-menu">Home</button></li>
      </ul>
    </div>
  </nav>
</header>
