<div class="slider">
  <ul>

    <li>
      <img class="images_slider" src="/images/Marcas/fisher-price-png.png" alt="">
      <img class="images_slider" src="/images/Marcas/Lego-logo.jpg" alt="">
      <img class="images_slider" src="/images/Marcas/play-doh-715x400.jpg" alt="">
    </li>


    <li>
      <img class="images_slider" src="/images/Marcas/Hot-Wheels-Logo.png" alt="">
      <img class="images_slider" src="/images/Marcas/Hasbro-Logo.png" alt="">
      <img class="images_slider" src="/images/Marcas/2560px-Toys__R__Us_logo.svg.png" alt="">
    </li>


    <li>
      <img class="images_slider" src="/images/Marcas/Mattel-Logo-1969.png" alt="">
      <img class="images_slider" src="/images/Marcas/barbie.png" alt="">
      <img class="images_slider" src="/images/Marcas/nenuco-715x400.jpg" alt="">
    </li>


    <li>
      <img class="images_slider" src="/images/Marcas/Bizak_logo.svg.png" alt="">
      <img class="images_slider" src="/images/Marcas/mark.png" alt="">
      <img class="images_slider" src="/images/Marcas/a.png" alt="">
    </li>

  </ul>

</div>