*{
    margin: 6px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Delius Unicase';
    background-color: #ffffff;
}
/***INICIO Barra cabecera********/
.container-header{
    background-color:#CDABED;
    width: auto;
    height: 40px;
    display: flex;
    justify-content: space-between
}
.container-header .info {
    color: white;
    font-size: 12px; 
    margin: 0px 30px;
    padding: 5px;
    justify-content: flex-start;
}
.container-header
.button-header {
    display: inline-flex;
    margin-top: -5px;
}
.btn-ingresar,
.btn-registrarse {
    background-color:rgb(14, 108, 239);
    color: white;
    font-family: 'Delius Unicase';
    font-size: 12px;
    width: 120px;
    height: 30px;
    border: none;
    border-radius: 5px;
    text-align: center;
}
.btn-registrarse{
    margin-top:5px;
}
.btn-ingresar {
    background-color:#CDABED;
    color: black;
    border: solid rgb(232, 231, 231);
}
/***FIN Barra cabecera********/

/***INICIO Logo, buscador y carrito********/
.container-main {
    display: flex; 
    justify-content: space-between;
}
.logo {
    margin-top: 10px;
    margin-left: 100px;
}
.container-carrito {
  display: flex; 
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 400px;
}
.container-main .buscar-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;  
}
.container-main .buscador-box {
    width: 30rem;
    height: 2rem;
    border-radius: 5px;
    border: solid 1px #CDABED;
    text-align: center;
}
.container-main #lupa {
    width: 2rem;
    height: 2rem;
    color: #CDABED;
    border: solid 1px #CDABED;
    border-radius: 5px;
    font-size:20px;
}
.container-carrito #icono-carrito {
    display: flex;
    font-size: 25px; 
    color: #CDABED;
    margin-top: 17px; 
}
.carro {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.carro .box-carrito {
    border: solid 0.5px #CDABED;
    border-radius: 10px;
    background-color: rgb(240, 239, 239);
    width: 50px;
    height: 30px;
    margin-top: 0px;
}

/***FIN Logo, buscador y carrito********/

/***INICIO Menu********/
.main-navbar {
    display:flex;
    justify-content: flex-start;
    margin: 10px;
}
.main-navbar a{
    text-decoration:  none;
    color: #222222;
    display: inline-block;
    padding: 2px 0;
    font-size: 13px;
}
.main-navbar ul {
    display:flex;
}
.main-navbar li {
    margin: 0px 5px;
    margin-left: 30px;
    list-style: none;
}
.main-navbar li>a:hover {
   color: blue;
   background-color:#eaeaea; 

}
/***FIN Menu********/

/***FORMULARIO********/
.container-form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: rgb(223, 223, 223);
}
.titulo {
    margin-top:35px;
}

.container-form .form {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 1px #CDABED;
    width: 50%;
    border-radius: 5px;
    background-color: silver;
}

.container-form .label-form {
    font-size: 12px;
    color: white;
    display: block;
}

.container-form input {
    display: flex;
    width: 40em;
    height: 3em;
    border-radius: 5px;
}

.container-form .btn-buscar {
    border-radius: 5px;
    border:2px solid #CDABED;
    width:10em;
    height:3em;
    cursor: pointer;
    background-color:rgb(255, 255, 255);
}
.container-form .btn-buscar:hover {
    background-color:black;
    color: white;
    border: 2px solid white;
}
.container-form .btn-guardar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40em;
    height: 3em;
    border-radius: 5px;
    border: none;
    color: white;
    background-color:rgb(14, 108, 239);
    cursor: pointer;
}
.container-form .btn-guardar:hover {
    background-color:black;
}
.container-form .btn-editar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40em;
    height: 3em;
    border-radius: 5px;
    border: none;
    color: white;
    background-color:rgb(23, 172, 65);
    cursor: pointer;
}
.container-form .btn-guardar:hover {
    background-color:black;
}
.container-form i {
    font-size:20px;
}
.container-form .btn-reset {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40em;
    height: 3em;
    border-radius: 5px;
    border: none;
    color: white;
    background-color:rgb(218, 48, 48);
    cursor: pointer;
}
.container-form .btn-reset:hover {
    background-color:black;
}



/***INICIO Footer********/
.footer-box {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    height: 300px;
    background-color: #CDABED;
    margin-top: 40px;
}
.footer-box h3 {
    text-align: start;
    margin: 20px;
    margin-left: 20px;
}
.footer-box .contacto ul>li{
    flex-direction: column;
    text-decoration: none;
    list-style: none;
    color: white;
}
.footer-box .informacion ul>li{
    flex-direction: column;
    text-decoration: none;
    list-style: none;
    color: white;
}
.footer-box .informacion a {
    text-decoration: none;
    color: white;
}
.footer-box .informacion li>a:hover {
    color: black;
    background-color: #ffffff;
}
.footer-box .pagos ul>li{
    flex-direction: row;
    justify-content:space-around;
    text-decoration: none;
    list-style: none;
    color: white;
}
.footer-box .pagos i{
    display: flex;
    font-size: 32px;
}
.footer-box .mapa-box {
    width: 360px;
    height:250px;
    border: solid 1px #393939;
}
.footer-box .mapa-box iframe {
    width: 360px;
    height:250px;
    margin: 0;
}
/***FIN Footer********/