<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/stylesheets/form_admin.css" />
    <title>Formulario de administración de productos</title>
  </head>
  <body>

     <!--Cabecera del sitio-->
     <%- include('../partials/header.ejs') %>
    <!--Logo, buscador y carrito de compras-->
    <main class="container-main">
        
            <a href="/">
                <img src="/images/Design/Logo.png"  alt="Logo Playground Jugueteria"></img>
            </a>
       
        <div class="buscar-wrapper">
            <input class="buscador-box" type="search" text="Search" placeholder="Buscar producto">
            <button type="button" class="fas fa-search" id="lupa"></button>
        </div>
        <div class="container-carrito">
            <div class="carro">
                <a href="/productCart">
                    <i class="fas fa-shopping-cart" id="icono-carrito">
                        <div class="box-carrito"></div>
                    </i>
                </a>
            </div>
        </div>
    </main>
    <!--Menú-->
    <nav class="main-navbar">
        
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#marcas">Marcas</a></li>
            <li><a href="#">Edades</a></li>
            <li><a href="#contacto">Contacto</a></li>
        </ul>
    </nav>

    <!--Formulario-->
    <form>
        <h3 class="titulo">
            <i class="fas fa-bars"></i>
            Formulario de productos
        </h3>
        <div class="container-form">
            <div class="form">
                <div class="input-text">
                    <label for="nombre" class="label-form">nombre del producto</label>
                    <input type="text" class="input" required>
                    <button class="btn-buscar">Buscar</button>
                </div>
                <div class="input-text">
                    <label for="nombre" class="label-form">Descripción</label>
                    <input type="text" class="input" required>
                </div>
                <div class="input-text">
                    <label for="nombre" class="label-form">imagen</label>
                    <input type="file" class="input" required>
                </div>
                <div class="input-text">
                    <label for="nombre" class="label-form">categoría</label>
                    <input type="text" class="input" required>
                </div>
                <div class="input-text">
                    <label for="nombre" class="label-form">edad</label>
                    <input type="text" class="input" required>
                </div>
                <div class="input-text">
                    <label for="nombre" class="label-form">precio</label>
                    <input type="text" class="input" required>
                </div>
                <div class="btn">
                    <button type="button" class="btn-editar">Editar <i class="fas fa-edit"></i></button>
                </div>
                <div class="btn">
                    <button type="button" class="btn-guardar">Guardar <i class="fas fa-check-circle"></i></button>
                </div>
                <div class="btn">
                    <button type="reset" class="btn-reset">Borrar <i class="fas fa-minus-circle"></i></button>
                </div>
            </div>
        </div>
    </form>
    <!--Footer-->
    <%- include('../partials/footer.ejs') %>
  </body>
</html>