<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/stylesheets/login.css">

    <title>Formulario ingreso</title>
</head>
<body>
    
    <%- include('../partials/header.ejs') %>


    <main class="container-main">
            <a href="/">
                <img src="/images/Design/Logo.png"  alt="Logo Playground Jugueteria"></img>
            </a>  
    </main>

<div class="ingreso"> 
    
    <div class="Marco">
        <p class="eslogan">Iniciar sesión</p>
    <img class="imagen_login" src="/images/pexels-victoria-borodinova-1620675.jpg" alt=""> 
    <p class="eslogan">¡La vida es para jugar!</p>
    </div>
    
    <form action="">

        <img class="usuario" src="/images/usuario.png">
<div class="formulario">
    
    <label>E-mail</label>
    <input class="text" type="email" name="correo" required>
    <label>Contraseña</label>
    <input class="text" type="password" name="contraseña" required>
    <a class="olvido" href="#">¿Olvido su contraseña?</a>
    <input class="boton" type="submit" value="Login">
    <div class="linea">
    <a href="#">¿No tienes cuenta?</a>
    <a class="crea" href="#">Crea una cuenta</a>
    </div>
</div>


    </form>
</div>

<%- include('../partials/slider_dinamico.ejs') %>

     <!--Footer-->
    
     <%- include('../partials/footer.ejs') %>
    
</body>
</html>