<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="/stylesheets/loginAndRegister.css" />
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <script defer src="/javascripts/validatorLogin.js"></script>
    <script defer src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <title>Login</title>
  </head>
  <body>
    <img class="wave" src="/icons/fondo-login.png" />
    <div class="container">
      <div class="img">
        <img src="/icons/logo.png" />
      </div>
      <div class="login-content">
        <form class="forms" action="/users/login" method="POST">
          <img
            src="https://raw.githubusercontent.com/sefyudem/Responsive-Login-Form/master/img/avatar.svg"
          />
          <% if(locals.errorMsg){ %>
          <span class="errorCredencial"> <%= errorMsg %> </span>
          <% } %>
          <h2 class="title">Logín</h2>
          <div class="input-div one">
            <div class="i">
              <i class="fas fa-user"></i>
            </div>
            <div class="div">
              <input
                id="email"
                name="email"
                type="text"
                class="input"
                placeholder="email"
              />
                <% if(locals.errorsLogin && locals.errorsLogin.email){ %>
                  <span>
                      <%= locals.errorsLogin.email.msg %>
                  </span>

                <% } %>
            </div>
          </div>
          <div class="input-div pass">
            <div class="i">
              <i class="fas fa-lock"></i>
            </div>
            <div class="div">
              <input
                id="password"
                name="password"
                type="password"
                class="input"
                placeholder="password"
              />
                <% if(locals.errorsLogin && locals.errorsLogin.password){ %>
                  <span>
                      <%= locals.errorsLogin.password.msg %>
                  </span>
                <% } %>
            </div>
          </div>
          <div class="container-recordar">
            <input
              class="check"
              type="checkbox"
              id="remember"
              name="remember"
            />
            <label for="">Recordar usuario</label>
            <a href="#">Recuperar password aquí</a>
          </div>
          <input type="submit" class="btn" value="Entrar" />
          <div class="container-registrate">
            <div>
              <p>¿No tienes una cuenta? registrate</p>
            </div>
            <div class="">
              <a href="/users/register" class="btn-envio-registro">aquí</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
