<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/stylesheets/register.css">

    <title>Formulario registro</title>
</head>
<body>

    <%- include('../partials/header.ejs') %>


    <main class="container-main">
        <a href="/">
            <img src="/images/Design/logo.png"  alt="Logo Playground Jugueteria"></img>
        </a>
       
    </main>

    
    <form action="">

<div class="formulario">

    <h2>Registrarse</h2>
    <label>Nombre</label>
    <input class="text" type="text" name="nombre" required>
    <label>Apellido paterno</label>
    <input class="text" type="text" name="apellido" required>
    <label>Apellido materno</label>
    <input class="text" type="text" name="apellido2" required>
    <label>E-mail</label>
    <input class="text" type="email" name="correo" required>
    <label>Contrase単a</label>
    <input class="text" type="password" name="contrase単a" required>
    <label>Repetir contrase単a</label>
    <input class="text" type="password" name="contrase単a" required>
    <input class="boton" type="submit" value="Aceptar">

    </form>
</div>


<%- include('../partials/slider_dinamico.ejs') %>

     <!--Footer-->

     <%- include('../partials/footer.ejs') %>
    
    
</body>
</html>
